<div class="container" ng-app="app">
  <div ui-view>

  </div>
</div>
<script>
<% var stringPass =  JSON.stringify(numOfRelPass);
var parsedPass = JSON.parse(stringPass); %>
var products = <%-stringPass%>;
<% var stringDef = JSON.stringify(defaultNum)%>
var defaultNum = <%-stringDef%>

</script>
<script src="/javascripts/scripts.min.js"></script>
