

<script type="text/template" id="rpWinMain">

<div class="chosen-container" single style="width:300px">
	<form method="post" action="/changeProduct">
{{#title}}
		<select name="{{order}}{{productID}}" class="my_select_box" data-placeholder="{{title}}">
			<option value=""></option>
		    <option value="Internet Explorer">IE</option>
		    <option value="Firefox">Firefox</option>
		    <option value="Chrome">Chrome</option>
		    <option value="Opera">Opera</option>
		    <option value="Safari">Safari</option>
		</select>

{{/title}}


<input  class="hidden" name="store" value="{{cStore}}" />
<input  class="hidden" name="forProduct" value="{{forproduct}}" />



<br />
<br />

<button class="btn btn-success" type="submit">Submit</button>
</form>
</div>

</script>



<script type="text/template" id="rpListAll">
  <option value=""></option>
	{{#alsoBought}}


    <option value="{{productID}}{{title}}{{image}}">Also Bought:{{title}}({{howMany}})</option>


  {{/alsoBought}}

  {{#products}}


    <option value="{{productID}}{{productName}}{{image}}">{{productName}}</option>


  {{/products}}
</script>


<script type="text/template" id="bpListAll">
  <ul>
	  {{#alsoBought}}


	    <!-- <option value="{{productID}}{{productName}}{{image}}">{{productName}}</option> -->
			<li>
				{{title}}  <br />How Many Bought: {{howMany}}
			</li>


	  {{/alsoBought}}
	</ul>
</script>
