<script type="text/template" id="rpWinMain">
  {{#title}}
  <li>

    {{title}} <a href='#' order="{{order}}" productid="{{productID}}" forproduct="{{forProduct}}" class="changeProductLink" store="{{forStore}}"> change</a>

  </li>
  {{/title}}
</script>


<script type="text/template" id="rpListAll">
  {{#products}}
  <li>

    <a order="{{order}}" forproduct="{{forproduct}}" productid="{{productID}}" store="{{store}}" title="{{productName}}" oldproduct="{{oldproduct}}" class="listAllLink">{{productName}}</a>

  </li>
  {{/products}}
</script>
