<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />

    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" /> -->

    <title>
        Related Products
    </title>
    <style>
    html {
      height: 100%;
    }
      body {
        height: 100%;
        background: url(images/background.jpg) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .btn {
        margin-top: 20px;
      }
    </style>

</head>

  <body>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="well">
          <h3>Install Simple Related Products:</h3>
          <form name="install" action"https://simple-related-products.herokuapp.com/" method="GET">
            <div class="form-group">
              <label>Name of your store:</label>
              <input name="shop" type="text" class="form-control"/>
              <div class="text-center">
                <button class="btn btn-primary">Submit</button>
              </div>
           </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      function validateForm(){
        window.location.replace("https://localhost:8888.com/dsp=" + x);
        return false;
      }

      $(function() {
        $('form').submit(function(){
          var x = document.forms['install']['shop'].value;
          // $.get('https://simple-related-products.herokuapp.com/?shop=' + x, function() {
            window.location = 'https://simple-related-products.herokuapp.com/?shop=' + x;
          // });
          return false;
        });
      });
    </script>
  </body>

</html>
