<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script type="text/javascript">
        ShopifyApp.init({
            apiKey: '55512454cd904b56d38a12c8573aa27a',
            shopOrigin: 'https://test-store-1994-1994.myshopify.com'
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type='text/javascript' src='/javascripts/chosen.jquery.min.js'></script>



    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chosen.min.css' />


    <title>
        <%= title %>
    </title>

</head>

<body>

    <% include partials/angular.ejs %>


    <% include partials/mainJS.ejs %>



</body>

</html>
