<div class="modal-header">
  Change Related Products for Checked Products
</div>
<div class="modal-body">
  Overwrite Locks? <input type='checkbox' ng-model='owLocks.checked' value="on"/><br /><br />

  <ul class="list-group">
    <li ng-class="{active: (selectedWPOrder) == $index}" class="list-group-item" ng-repeat="i in getNumber(number) track by $index">
      <a href="#" ng-click="setWPOrder($index)">Change Product in Slot {{$index + 1}}</a>
      <div class="pull-right wp-buttons">

        <a href="#" ng-click="changeWPLock($index, true)" uib-popover="Set all at this position to locked" popover-is-open="lockPop"  popdelay>
          <i class="fa" ng-class="!rpWindowProduct.locks[$index] ? 'fa-lock' : 'fa-lock'" aria-hidden="true"></i>
        </a>
        <a href="#" ng-click="changeWPLock($index, false)" >
          <i class="fa" ng-class="!rpWindowProduct.locks[$index] ? 'fa-unlock' : 'fa-lock'" aria-hidden="true" uib-popover="Set all at this position to unlocked" popover-is-open="unlockPop"  popdelay></i>
        </a>
        <a class='remove-rp text-danger' style="float: none;" ng-click="setWPBlank(checkedProducts, $index)"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
  </ul>
  <h4>All Products:</h4>
  <ul class="list-group">
  <!-- <ul  ng-class="{hidden: !showProductSelection}" class="list-group" > -->
    <li class="list-group-item" ng-repeat="product in products">
      <a href="#" ng-click="changeMultipleRP(checkedProducts, selectedWPOrder, product)" uib-popover="{{getWPPopTitle()}}" popover-is-open="wpPop"  popdelay>{{product.title}}</a>
    </li>
  </ul>
</div>
