<div class="modal-header">
  {{rpWindowProduct.productName}}
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" ng-class="{active: (order - 1) == $index}" ng-repeat="rp in rpWindowProduct.relatedProducts | limitTo: rpWindowProduct.numOfRel track by $index">
          {{rp}} <a href='#' ng-click="changeRP($index)">Change</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6" ng-class="{hidden: !showProductSelection}">
      <h5>Change Postion {{order}}: {{rpWindowProduct.relatedProducts[order - 1]}}</h5>
      <div ng-class="{hidden: !getAlsoBought().length}"><h6  class="pull-right" style="margin-bottom:3px"># Bought</h6><h6>Also Bought Products</h6>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="bp in getAlsoBought() | orderBy: '-howMany' ">
            <a href="#" ng-click="changeRPSelect(bp)">{{bp.title}}</a> <span class="badge">{{bp.howMany}}</span>
          </li>
        </ul>
      </div>

      <h6>All Products</h6>
      <ul class="list-group" >
        <li class="list-group-item" ng-repeat="product in products">
          <a href="#" ng-click="changeRPSelect(product)">{{product.productName}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
