<!--<a class="close-btn btn btn-danger pull-right" ng-click="openCustomizer()"><span class="glyphicon glyphicon-remove"></span></a>-->

<br />

<form class="form-inline">
<div class="form-group">
<label >Default Number of Related Items: </label>
<select type="text" ng-model="defaultNR" class="form-control" ng-options="n for n in numbers"/>

<span>Change all products to new default?</span>
<input type="checkbox" ng-model="checkedDNR" />
&nbsp;
<button class="btn btn-primary"type="submit" ng-click="changeDefaultNR(defaultNR, checkedDNR)" uib-popover="Set!" popover-is-open="changeDefNumPop"  popdelay>Set</button>
</div>
</form>
<form class="form-inline">
<div class="form-group">
<label>Set to Most Bought:</label>
<div style="display:inline" ng-repeat="n in numbers">
  <label>{{n}}</label>
  <input type="checkbox"  ng-model="setAllChecked[$index]"/>
  &nbsp;
</div>
<button class="btn btn-primary" ng-click="setAllMostBought(setAllChecked)" type="submit" uib-popover="Set!" popover-is-open="setMostBoughtPop"  popdelay>Set</button>


</div>

</form>
<form class="form-inline">
<div class="form-group">
<label>Display Header:</label>
<input ng-model="headerValues.header"/>

<button class="btn btn-primary" ng-click="headerValues.setHeader(headerValues.header)" type="submit" uib-popover="Set!" popover-is-open="displayPop"  popdelay>Set</button>
<br /><br>
</div>
</form>

<div class="row">
  <div class="col-md-4"><a class="btn btn-success" id="refresh-button" href="/refreshAlsoBought"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh Product Data</a></div class="col-md-4">
  <div class="col-md-4"><a class="btn btn-primary" ng-click="openCustomizer()">Customize Individual Products</a></div class="col-md-4">
  <div class="col-md-4"><a class="btn btn-danger" href="/getJSON/removeProducts">Remove Products From App Database</a></div><br />
</div>

