body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.numRelForm select{
  width: 35px;
  display: inline-block;
}

#defNumSelect {
  width: 35px;
  display: inline-block;

}

#defNumForm {
  display: inline-block;
}

#defNumForm button {
  display: inline-block;
}

#defaultNum span{
  font-size: 15px;
}

#insert-products {
  ol {
    display: inline-block;
    position: relative;
  }
  .main-well-info {
    display: inline-block;
  }
}


#rpWindow{
  width: 600px;
  height: 400px;
  position: fixed;
  background-color: #2e6da4;
  top: 50%;
  left: -50%;
  margin-top: -200px;
  margin-left: -300px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  .row{
    position: relative;
    top: 50px;
  }
}

.close-rpWindow {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  z-index: 10;
}
